:root {
  --dark-green: #3c787e;
  --mid-green: #84dcc6;
  --light-green: #a5ffd6;
  --light-watermelon: #ffa69e;
  --mid-watermelon: #ff686b;

  --dark-red: #8f2d56;
  --deep-pink: #d81159;
  --mustard: #ffbc42;
  --light-blue: #0496ff;
  --dark-blue: #006ba6;
  --light-grey: #e9ecef;
  --medium-grey: #adb5bd;
  --dark-grey: #343a40;
  --shadow: #212529;
}

.App {
  text-align: center;
}

#navbar {
  background-color: var(--mid-watermelon);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#navButton {
  padding: 8px 15px 8px 15px;
  color: white;
  text-decoration: none;
}

#navButton:hover {
  background-color: var(--light-watermelon);
  color: black;
}

body {
  background-color: var(--dark-grey);
}

h1 {
  color: white;
}

/* =============================================================== */
/* NEW PROJECTS FLOAT LABEL - HELP FROM DEV ED */
/* =============================================================== */

.project-form {
  display: grid;
  width: 50%;
  margin: 1.75rem auto;
  margin-top: 20px;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid var(--medium-grey);
  box-shadow: 5px 5px 5px var(--shadow);
}

.halfwidth-input-right input[type="number"]::-webkit-inner-spin-button,
.halfwidth-input-right input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .project-form {
    display: grid;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .project-form {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.project-form h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fullwidth-input {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  overflow: hidden;
}

.halfwidth-input-left {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.halfwidth-input-right {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.fullwidth-input input,
.halfwidth-input-left input,
.halfwidth-input-right input {
  width: 100%;
  height: 100%;
  color: black;
  padding: 20px 0 0 5px;
  border: none;
  outline: none;
  font-size: 17px;
}

.fullwidth-input .label-name,
.halfwidth-input-left .label-name,
.halfwidth-input-right .label-name {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: calc(100% - 2px);
  height: 70%;
  pointer-events: none;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: all 0.3s ease;
}

.fullwidth-input input:focus + .label-name .content-name,
.fullwidth-input input:valid + .label-name .content-name,
.halfwidth-input-left input:focus + .label-name .content-name,
.halfwidth-input-left input:valid + .label-name .content-name,
.halfwidth-input-right input:focus + .label-name .content-name,
.halfwidth-input-right input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: var(--light-blue);
}

.fullwidth-input input:focus + .label-name,
.halfwidth-input-left input:focus + .label-name,
.halfwidth-input-right input:focus + .label-name {
  border: 1px solid var(--light-blue);
}

.fullwidth-input input:focus + .label-name::after,
.fullwidth-input input:valid + .label-name::after,
.halfwidth-input-left input:focus + .label-name::after,
.halfwidth-input-left input:valid + .label-name::after,
.halfwidth-input-right input:focus + .label-name::after,
.halfwidth-input-right input:valid + .label-name::after {
  transform: translateX(0%);
}

.fullwidth-input select {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 35px;
  margin-top: 5px;
  background: var(--light-grey);
  border-radius: 5px;
}

.project-form button {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  margin: auto;
  height: 35px;
  background: var(--light-green);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--medium-grey);
  font-size: 16px;
  border: 1px solid var(--dark-grey);
}

/* =============================================================== */
/* PROJECTS LAYOUT */
/* =============================================================== */

.projListHeading {
  color: white;
}

.projectsList {
  margin: auto;
}

.projectRow {
  display: grid;
  grid-template-columns: 100px auto 100px 100px 100px 40px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  border: 2px solid var(--medium-grey);
  border-radius: 10px;
  background-color: white;
  width: 95%;
  box-shadow: 5px 5px 5px var(--shadow);
}

.gridProjectNo {
  grid-column: 1 / 2;
}

.gridProjectName {
  grid-column: 2 / 3;
  text-align: left;
}

.gridProjectHours {
  grid-column: 3 / 4;
}

.gridProjectStatus {
  grid-column: 4 / 5;
}

.gridProgress-ring {
  grid-column: 5 / 6;
}

.gridEditButton {
  grid-column: 6 / 7;
  color: var(--dark-blue);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

.gridDeleteButton {
  grid-column: 7 / 8;
  color: var(--dark-red);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

/* =============================================================== */
/* ENTRY LAYOUT */
/* =============================================================== */

.entryList {
  margin: auto;
}

.entryRow {
  display: grid;
  grid-template-columns: 150px auto 150px 100px 40px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
}

.entryDate {
  grid-column: 1 / 2;
}

.entryProjectName {
  grid-column: 2 / 3;
  text-align: left;
}

.entryDescription {
  grid-column: 3 / 4;
}

.entryTime {
  grid-column: 4 / 5;
}

.entryEditButton {
  grid-column: 5 / 6;
  color: var(--dark-blue);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

.entryDeleteButton {
  grid-column: 6 / 7;
  color: var(--dark-red);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

/* =============================================================== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
}

/* .modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 5px;
  max-width: 50%;
  padding: 2rem;
} */

.modal-header {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  place-self: center;
}

.modal-header h2 {
  color: black;
}

.project-form .modal-close-button {
  position: absolute;
  grid-area: 1 / 2;
  background: none;
  box-shadow: none;
  border: none;
  width: 40px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
}

/* button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
} */

.button-default {
  background: #247ba0;
  color: #fff;
}
