:root {
  --dark-green: #3c787e;
  --mid-green: #84dcc6;
  --light-green: #a5ffd6;
  --light-watermelon: #ffa69e;
  --mid-watermelon: #ff686b;

  --dark-red: #8f2d56;
  --deep-pink: #d81159;
  --mustard: #ffbc42;
  --barely-blue: #a9dafd;
  --verylight-blue: #6bc0fc;
  --light-blue: #0496ff;
  --mid-blue: #006ba6;
  --dark-blue: #003c5c;
  --light-grey: #e9ecef;
  --medium-grey: #adb5bd;
  --dark-grey: #343a40;
  --shadow: #212529;
}

.App h1 {
  text-align: center;
}

#navbar {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  background-color: var(--mid-blue);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: 5px 5px 5px var(--shadow);
}

#navButton {
  padding: 8px 15px 8px 15px;
  color: white;
  text-decoration: none;
}

#navButton:hover {
  background-color: var(--verylight-blue);
  color: black;
}

body {
  background-color: var(--dark-grey);
}

h1 {
  color: white;
}

/* =============================================================== */
/* SIGN IN & SIGN UP LAYOUT */
/* =============================================================== */

.signin-form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  margin: auto;
}

.signin-label {
  color: white;
  padding-left: 5px;
  font-size: 14px;
  width: 393px;
  border: none;
}

.signin-input {
  margin: 10px 0 10px 0;
  height: 30px;
  width: 393px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  padding-left: 5px;
}

.signin-input:focus {
  background: #626263;
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.signin-button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  background: var(--light-watermelon);
  margin-top: 10px;
}

.signin-button:hover {
  background: var(--mid-watermelon);
  box-shadow: 2px 2px 2px var(--shadow);
  color: white;
  transition: all 0.3s ease;
}

.forgot-password {
  font-size: 14px;
  margin-top: 15px;
  width: 300px;
  color: white;
  text-align: right;
  text-decoration: none;
}

.forgot-password:hover {
  color: var(--mid-watermelon);
  transition: all 0.3s ease;
}

.signup-link {
  margin-top: 30px;
  width: 400px;
  color: white;
  text-align: center;
}

.signup-link strong {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.signup-link strong:hover {
  color: var(--mid-watermelon);
  transition: all 0.3s ease;
}

/* =============================================================== */
/* NEW PROJECTS FLOAT LABEL */
/* =============================================================== */

.project-form {
  display: grid;
  width: 70%;
  margin: 1.75rem auto;
  margin-top: 20px;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--shadow);
}

@media screen and (max-width: 680px) {
  .project-form {
    display: grid;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .project-form {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.project-form h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.double-input-23 {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 65px;
}

.fullwidth-input {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 65px;
}

.input-left {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  position: relative;
  height: 65px;
}

.input-middle {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  height: 65px;
}

.input-right {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 100%;
  position: relative;
  height: 65px;
}

.input-middle p {
  position: absolute;
  bottom: 0px;
  left: -40%;
}

.fullwidth-input input,
.double-input-23 input,
.halfwidth-input-left input,
.halfwidth-input-right input,
.input-left input,
.input-middle input {
  width: calc(100% - 12px);
  height: calc(100% - 2px);
  color: black;
  height: 60%;
  padding: 0 5px 0 5px;
  border: 1px solid var(--dark-grey);
  font-size: 17px;
  border-radius: 5px;
  margin-top: 5px;
}

.halfwidth-input-left .datepicker-input {
  width: calc(100% - 5px);
  padding: 0 0 0 5px;
}

.fullwidth-input label,
.halfwidth-input-left label,
.halfwidth-input-right label,
.input-left label,
.input-middle label,
.input-right label,
.double-input-23 label {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  padding-left: 0px;
}

.input-right h3 {
  margin-bottom: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--medium-grey);
  background: var(--light-grey);
  transition: all 0.3s ease;
}

input:focus + .label-name,
select:focus + .label-status {
  color: var(--medium-grey);
}

.double-input-23 select {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  height: 60%;
  background: white;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  margin-top: 5px;
  font-size: 17px;
}

.fullwidth-input select {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 60%;
  background: white;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  margin-top: 5px;
  font-size: 17px;
}

.input-left select {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 50%;
  height: 60%;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  border: 1px solid var(--dark-grey);
  font-size: 17px;
  justify-self: start;
}

.project-form button {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 35px;
  background: var(--barely-blue);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--medium-grey);
  font-size: 16px;
  border: 1px solid var(--dark-grey);
}

.project-form button:hover {
  background: var(--mid-blue);
  color: white;
  transition: all 0.3s ease;
}

.project-form .modal-close-button {
  grid-column-start: 2;
  grid-column-end: 4;
  position: absolute;
  top: 0.8rem;
  right: 0;
  background: none;
  box-shadow: none;
  border: none;
  width: 30px;
  height: 35px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  padding: 0;
}

/* =============================================================== */
/* PROJECTS LAYOUT */
/* =============================================================== */

.projListHeading {
  position: relative;
  height: 55px;
  margin: 20px 0 20px 0;
}

.projListHeading h2 {
  position: relative;
  top: 10px;
  color: white;
  text-align: center;
}

.projects-heading {
  display: grid;
  grid-template-columns: 100px auto 100px 100px 100px 40px;
  width: 95%;
  max-width: 800px;
  margin: auto;
  column-gap: 5px;
  align-items: center;
  color: white;
}

.projectsList {
  margin: auto;
}

.projectRow {
  display: grid;
  grid-template-columns: 100px auto 100px 100px 100px 40px;
  column-gap: 5px;
  align-items: center;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  background-color: white;
  width: 95%;
  max-width: 800px;
  box-shadow: 5px 5px 5px var(--shadow);
}

.gridProjectNo {
  grid-column: 1 / 2;
  text-align: center;
}

.gridProjectName {
  grid-column: 2 / 3;
  text-align: left;
}

.gridProjectHours {
  grid-column: 3 / 4;
}

.gridProjectStatus {
  grid-column: 4 / 5;
}

.gridProgress-ring {
  grid-column: 5 / 6;
}

.editButton {
  grid-column: 6 / 7;
  color: var(--medium-grey);
  align-items: center;
  padding: 0;
  padding-top: 2px;
  border: none;
  background: none;
  position: relative;
}

.editButton .edit-tooltip,
.addButton .edit-tooltip {
  visibility: hidden;
  width: 45px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -22.5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.editButton:hover .edit-tooltip,
.addButton:hover .edit-tooltip {
  visibility: visible;
  opacity: 1;
}

.editButton:hover {
  color: black;
  transition: all 0.3s ease;
}

/* =============================================================== */
/* ENTRY LAYOUT */
/* =============================================================== */

.timesheet-form {
  display: grid;
  width: 50%;
  margin: 1.75rem auto;
  margin-top: 20px;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--shadow);
}

.halfwidth-input-right input[type="number"]::-webkit-inner-spin-button,
.halfwidth-input-right input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timesheet-form h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.fullwidth-input {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 65px;
}

.halfwidth-input-left {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  position: relative;
  height: 65px;
}

.halfwidth-input-right {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  height: 65px;
}

.halfwidth-input-right p {
  position: absolute;
  bottom: 0px;
  left: -40%;
}

.halfwidth-input-left select {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 50%;
  height: 60%;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  border: 1px solid var(--dark-grey);
  font-size: 17px;
  justify-self: start;
}

.timesheet-form button {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 35px;
  background: var(--barely-blue);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--medium-grey);
  font-size: 16px;
  border: 1px solid var(--dark-grey);
}

.timesheet-form button:hover {
  background: var(--mid-blue);
  color: white;
  transition: all 0.3s ease;
}

.entryList {
  margin: auto;
}

.entryHeader {
  position: relative;
}

.entryListHeading {
  color: white;
}

.entryRow {
  display: grid;
  grid-template-columns: 150px 50px auto 150px 50px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  background-color: white;
  width: 95%;
  box-shadow: 5px 5px 5px var(--shadow);
}

.entryDate {
  grid-column: 1 / 2;
  justify-self: center;
}

.entryProjectNo {
  grid-column: 2 / 3;
}

.entryProjectName {
  grid-column: 3 / 4;
  text-align: left;
}

.entryDescription {
  grid-column: 4 / 5;
}

.entryTime {
  grid-column: 5 / 6;
  justify-self: center;
}

.userSelect {
  grid-column: 1 / 3;
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid var(--medium-grey);
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px var(--shadow);
  height: 30px;
}

.addButton {
  position: absolute;
  top: 0px;
  right: 2.5%;
  height: 55px;
  width: 55px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px var(--shadow);
}

.addButton:hover {
  border: 2px solid var(--mid-watermelon);
  box-shadow: 10px 10px 10px var(--shadow);
}

.addButton .edit-tooltip {
  visibility: hidden;
  width: 70px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -35px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.addButton:hover .edit-tooltip {
  visibility: visible;
  opacity: 1;
}

/* =============================================================== */
/* USERS LAYOUT */
/* =============================================================== */

.userList {
  margin: auto;
}

.userHeading {
  position: relative;
  height: 35px;
  margin: 0 0 0 0;
}

.userHeading h2 {
  position: relative;
  top: 5px;
  color: white;
  text-align: center;
}

.userRow {
  display: grid;
  grid-template-columns: 200px 150px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 1rem;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  background-color: white;
  width: 50%;
  box-shadow: 5px 5px 5px var(--shadow);
}

.userName {
  grid-column: 1 / 2;
}

.userDepartment {
  grid-column: 2 / 3;
}

/* =============================================================== */
/* MODAL LAYOUT */
/* =============================================================== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  position: relative;
}

.modal-header-entry {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 30px;
  justify-self: center;
}

.modal-header-projects {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 30px;
  justify-self: center;
}

.modal-header h2 {
  color: black;
}

.timesheet-form .modal-close-button {
  position: absolute;
  top: 0.8rem;
  right: 0;
  background: none;
  box-shadow: none;
  border: none;
  width: 30px;
  height: 35px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  padding: 0;
}

.modal .update-button-projects {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
}

.modal .delete-button-projects {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  background-color: var(--light-watermelon);
}

.modal .delete-button-projects:hover {
  background: var(--mid-watermelon);
  color: white;
  transition: all 0.3s ease;
}

.modal .update-button-entry {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}

.modal .delete-button-entry {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  background-color: var(--light-watermelon);
}

.modal .delete-button-entry:hover {
  background: var(--mid-watermelon);
  color: white;
  transition: all 0.3s ease;
}

/* button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
} */

.button-default {
  background: #247ba0;
  color: #fff;
}

/* =============================================================== */
/* PROJECTS OVERVIEW LAYOUT */
/* =============================================================== */

.overviewHeading {
  position: relative;
  height: 35px;
  margin: 10px 0 10px 0;
}

.overviewHeading h2 {
  color: white;
  text-align: center;
  height: 35px;
  margin: 0;
}

.filter-bar {
  display: grid;
  grid-template-columns: auto 200px 200px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  background-color: white;
  width: 95%;
  max-width: 615px;
  box-shadow: 5px 5px 5px var(--shadow);
  position: relative;
  font-size: 14px;
  font-weight: 300;
}

.filter-bar .main-label {
  justify-self: center;
  font-weight: 600;
}

.filter-bar .select-status,
.filter-bar .select-user {
  grid-column: 2 / 3;
}

.filter-bar .select-no,
.filter-bar .select-month {
  grid-column: 3 / 4;
}

.filter-bar select {
  font-size: 16px;
  height: 30px;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  margin-top: 5px;
}

.projectContainer {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 120px 20px 100px 30px 30px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  background-color: white;
  width: 95%;
  max-width: 615px;
  box-shadow: 5px 5px 5px var(--shadow);
  position: relative;
}

.projectTitle {
  grid-column: 1 / 3;
  text-align: flex-start;
  align-self: start;
}

.projectTitle h3,
.projectTitle p {
  margin: 10px 0 5px 10px;
}

.projectTotalRing {
  position: absolute;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.column1 {
  grid-column: 1 / 2;
  justify-self: center;
}

.column2 {
  grid-column: 2 / 3;
  justify-self: center;
}

.column3 {
  grid-column: 3 / 4;
  justify-self: center;
}

.column4 {
  grid-column: 4 / 5;
  justify-self: center;
}

.columnAll {
  grid-column: 1 / 5;
  justify-self: center;
}

.projectContainer .heading {
  font-weight: 600;
}

/* =============================================================== */
/* CALENDER HEATMAP LAYOUT */
/* =============================================================== */

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.calender-heatmap-container {
  margin: auto;
  padding: 5px 5px 10px 5px;
  /* border: 2px solid var(--medium-grey);
  border-radius: 10px; */
  width: 95%;
  max-height: 200px;
}

.react-calendar-heatmap {
  max-height: 190px;
}

.react-calendar-heatmap text {
  font-size: 7px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Color scale
 */

.react-calendar-heatmap .color-empty {
  fill: white;
}
.react-calendar-heatmap .color-1 {
  fill: var(--verylight-blue);
}
.react-calendar-heatmap .color-2 {
  fill: var(--light-blue);
}
.react-calendar-heatmap .color-3 {
  fill: var(--mid-blue);
}

/* =============================================================== */
/* REPORTS PAGE LAYOUT */
/* =============================================================== */

.report-links {
  align-items: center;
  width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 400px;
}

.report-links a button {
  justify-self: center;
  margin: 5px 50px 0 50px;
  width: 350px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.table-person {
  align-items: center;
  width: 700px;
  margin: auto;
}

.table-person .table {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 150px 100px 200px 200px 50px;
}

.table-heading {
  color: white;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 100px 200px 200px 50px;
}

.table-person h2 {
  margin: 0;
  grid-column: 1 /6;
}

.table .thead {
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0 5px 0;
}

.table .c-1 {
  grid-column: 1 / 2;
}

.table .c-2 {
  grid-column: 2 / 3;
}

.table .c-3 {
  grid-column: 3 / 4;
}

.table .c-4 {
  grid-column: 4 / 5;
}

.table .c-5 {
  grid-column: 5 / 6;
}

.table .total {
  border-top-width: 3px;
  border-top-style: double;
  border-top-color: black;
}

.table h5 {
  margin: 10px 0 10px 0;
}

/* =============================================================== */
/* REPORT: PROJECT DISTRIBUTION LAYOUT */
/* =============================================================== */

.dist-table {
  display: grid;
  grid-template-columns: auto repeat(13, 50px);
  grid-template-rows: 150px;
  grid-auto-rows: 40px;
  grid-gap: 1px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background: var(--dark-blue);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}

.dist-headings {
  transform: rotate(-90deg) translateX(-50%) translateY(15px);
  transform-origin: 0 0;
  width: 150px;
  color: white;
}

.dist-project {
  color: white;
}

.dist-cell {
  background: white;
  text-align: center;
  align-self: center;
  padding-top: 10px;
  height: 30px;
  width: 50px;
}

.dist-strong {
  font-weight: 700;
}

.d-1 {
  grid-column: 1 / 2;
}

.d-2 {
  grid-column: 2 / 3;
}
