:root {
  --dark-red: #8f2d56;
  --deep-pink: #d81159;
  --mustard: #ffbc42;
  --light-blue: #0496ff;
  --dark-blue: #006ba6;
  --dark-grey: #343a40;
  --shadow: #212529;
}

.App {
  text-align: center;
}

#navbar {
  background-color: var(--dark-red);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#navButton {
  padding: 8px 15px 8px 15px;
  color: white;
  text-decoration: none;
}

#navButton:hover {
  background-color: var(--deep-pink);
  color: white;
}

body {
  background-color: var(--dark-grey);
}

h1 {
  color: white;
}

/* =============================================================== */
/* NEW PROJECTS FLOAT LABEL - HELP FROM DEV ED */
/* =============================================================== */

.newproject-form {
  display: grid;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid var(--dark-blue);
  box-shadow: 5px 5px 5px var(--shadow);
}

@media screen and (max-width: 550px) {
  .newproject-form {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

.newproject-form h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.fullwidth-input {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  overflow: hidden;
}

.halfwidth-input-left {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.halfwidth-input-right {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.fullwidth-input input,
.halfwidth-input-left input,
.halfwidth-input-right input {
  width: 100%;
  height: 100%;
  color: black;
  padding: 20px 0 0 0;
  border: none;
  outline: none;
}

.fullwidth-input .label-name,
.halfwidth-input-left .label-name,
.halfwidth-input-right .label-name {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.fullwidth-input .label-name::after,
.halfwidth-input-left .label-name::after,
.halfwidth-input-right .label-name::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--light-blue);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.fullwidth-input input:focus + .label-name .content-name,
.fullwidth-input input:valid + .label-name .content-name,
.halfwidth-input-left input:focus + .label-name .content-name,
.halfwidth-input-left input:valid + .label-name .content-name,
.halfwidth-input-right input:focus + .label-name .content-name,
.halfwidth-input-right input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: var(--light-blue);
}

.fullwidth-input input:focus + .label-name::after,
.fullwidth-input input:valid + .label-name::after,
.halfwidth-input-left input:focus + .label-name::after,
.halfwidth-input-left input:valid + .label-name::after,
.halfwidth-input-right input:focus + .label-name::after,
.halfwidth-input-right input:valid + .label-name::after {
  transform: translateX(0%);
}

.fullwidth-input select {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 35px;
  margin-top: 5px;
  background: lightgray;
  border-radius: 5px;
}

.newproject-form button {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 50%;
  margin: auto;
  height: 45px;
  background: var(--dark-blue);
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--shadow);
  font-size: 16px;
}

/* =============================================================== */
/* PROJECTS LAYOUT */
/* =============================================================== */

.projListHeading {
  color: white;
}

.projectsList {
  margin: auto;
}

.projectRow {
  display: grid;
  grid-template-columns: 100px auto 100px 100px 100px 40px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  border: 2px solid var(--dark-blue);
  border-radius: 10px;
  background-color: white;
  width: 95%;
  box-shadow: 5px 5px 5px var(--shadow);
}

.gridProjectNo {
  grid-column: 1 / 2;
}

.gridProjectName {
  grid-column: 2 / 3;
  text-align: left;
}

.gridProjectHours {
  grid-column: 3 / 4;
}

.gridProjectStatus {
  grid-column: 4 / 5;
}

.gridProgress-ring {
  grid-column: 5 / 6;
}

.gridEditButton {
  grid-column: 6 / 7;
  color: var(--dark-blue);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

.gridDeleteButton {
  grid-column: 7 / 8;
  color: var(--dark-red);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

/* =============================================================== */
/* ENTRY LAYOUT */
/* =============================================================== */

.entryList {
  margin: auto;
}

.entryRow {
  display: grid;
  grid-template-columns: 150px auto 150px 100px 40px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
}

.entryDate {
  grid-column: 1 / 2;
}

.entryProjectName {
  grid-column: 2 / 3;
  text-align: left;
}

.entryDescription {
  grid-column: 3 / 4;
}

.entryTime {
  grid-column: 4 / 5;
}

.entryEditButton {
  grid-column: 5 / 6;
  color: var(--dark-blue);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

.entryDeleteButton {
  grid-column: 6 / 7;
  color: var(--dark-red);
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

/* =============================================================== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

/* button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
} */

.button-default {
  background: #247ba0;
  color: #fff;
}
