.App {
  text-align: center;
}

#navbar {
  background-color: grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#navButton {
  padding: 8px 15px 8px 15px;
  color: white;
  text-decoration: none;
}

#navButton:hover {
  background-color: rgb(202, 202, 202);
  color: black;
}

.projectsList {
  margin: auto;
}

.projectRow {
  display: grid;
  grid-template-columns: 100px auto 100px 100px 100px 40px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
}

.gridProjectNo {
  grid-column: 1 / 2;
}

.gridProjectName {
  grid-column: 2 / 3;
  text-align: left;
}

.gridProjectHours {
  grid-column: 3 / 4;
}

.gridProjectStatus {
  grid-column: 4 / 5;
}

.gridProgress-ring {
  grid-column: 5 / 6;
}

.gridEditButton {
  grid-column: 6 / 7;
  color: navy;
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

.gridDeleteButton {
  grid-column: 7 / 8;
  color: darkred;
  align-items: center;
  padding: 0;
  padding-top: 2px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

/* button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
} */

.button-default {
  background: #247ba0;
  color: #fff;
}
